@import "tailwindcss";

@font-face {
  font-family: "Ranade";
  src: url("/fonts/Ranade-Variable.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("/fonts/Ranade-VariableItalic.woff2") format("woff2");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Ranade", sans-serif;
  background: #000;
  color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #000;
}